<div class="container">
  <div class="header">
    <h1>Meal Tracker</h1>
    <p>A program to track your calories intake</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <table class="full-size">
        <tr>
          <th>Name</th>
          <th>Calories </th>
          <th>Description</th>
        </tr>
        <tr *ngFor='let chakula of meal'>
          <td>{{ chakula.name}}</td>
          <td>{{ chakula.calories}}</td>
          <td>{{ chakula.descrption}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <app-meal-forms (addMeal)="addNewMeal($event)"></app-meal-forms>
    </div>
  </div>

</div>
